<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="/img/neon-notes.png">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>{{ title }}</title>
  </head>

  <body>
    <div id="all">
        <div id="leftbox">
          <div id="leftcontent">
            <div id="contentbox">
              <div id="content">
                {{ content | safe }}
              </div>
            </div>
            <div id="imgbox">
              <img src="/img/tumblr_p6qcq2gpBE1r7plwfo1_12802.png" alt="My image">
            </div>
          </div>
        </div>
      <div id="right">
        <div id="righttop">
          <img src="/img/GZJdHd-XkAAKBaq.jpg" alt="My image">
        </div>
        <div id="rightmiddle">
          <div id="nav">
            <a class="link1" href="/">home</a>
            <a class="link2" href="/404">about</a>
            <a class="link1" href="/404">gallery</a>
            <a class="link2" href="/blog">blog</a>
            <a class="link1" href="/links">links</a>
            <a class="link2" href="/404">other</a>
            <a class="link1" href="/404">misc</a>
            <a class="link2" href="/404">link</a>
          </div>
        </div>
        <div id="rightbottom">
          <h1>Bio</h1>
          <p>To be updated :-]</p>
          <p>icon by <a href="https://enigmatriz.com/">enigmatriz</a></p>
          </div>
      </div>
    </div>
  </body>