<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="/img/neon-notes.png">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>{{ title }}</title>
  </head>

  <body>
    <div id="all">
      <div id="left">
        <div id="leftbox">
          <div id="leftcontent">
            <div id="contentbox">
              <div id="content">
                <h1>{{ title }}</h1>
                {{ content | safe }}
              </div>
            </div>
            <div id="imgbox">
              <div id="img"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
        <div id="righttop">
          <div id="righttopimg"></div>
        </div>
        <div id="rightmiddle">
          <div id="nav">
            <a class="link1" href="">home</a>
            <a class="link2" href="">about</a>
            <a class="link1" href="">gallery</a>
            <a class="link2" href="/blog">blog</a>
            <a class="link1" href="">links</a>
            <a class="link2" href="">other</a>
            <a class="link1" href="">misc</a>
            <a class="link2" href="">link</a>
          </div>
        </div>
        <div id="rightbottom">
          <h1>Bio</h1>
          <p>Nam porttitor mi ante, id efficitur neque convallis in. Mauris neque nulla, varius sit amet auctor vitae, tempor at metus. Nam posuere ut lectus vitae facilisis. Vivamus hendrerit volutpat est at efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis, justo sit amet fringilla placerat, eros tellus efficitur ex.</p>
          <p>Etiam mollis elit eu ex auctor, id vehicula sem auctor. Morbi sed urna volutpat, vestibulum lorem tristique, dapibus enim. Suspendisse vel turpis ut nibh accumsan consectetur. Curabitur aliquet mi in elit consectetur blandit. Suspendisse tempus tellus tempus massa lacinia ullamcorper. Maecenas auctor mollis lectus, non porttitor orci ornare in. Mauris in lacinia ex.</p>
          <p>Integer urna mi, egestas lobortis viverra sit amet, dapibus in nibh. Morbi sit amet velit id quam rhoncus pretium. Proin tristique lacus in dui ultricies lobortis. Ut in metus malesuada, scelerisque tortor et, lobortis neque. Vivamus sit amet est eget metus pretium tincidunt efficitur viverra erat.</p>
        </div>
      </div>
    </div>

    <div id="credit">
      <a href="https://repth.neocities.org/index.html">©repth</a>
    </div>
  </body>